.sessao-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: auto;
    padding: 20px;
    border-top: 1px solid #41414194;
}
.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisao-contato{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
}
.divisao-contato > h1{
    text-align: center;
    font-size: 45px;
    font-family: roboto;
    margin-bottom: 20px;
    color: var(--color-3);
}
.divisao-contato > p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.meus-dados{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meus-dados > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 25px;
}
.fa-square-github, .fa-envelope, .fa-linkedin{
    font-size: 20px;
}
.li-lista-5{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 8px;
    font-family: roboto;
    font-size: 15px;
    padding-bottom: 5px;
}
.li-lista-5 > a:hover{
    transition: 0.3s ease-out;
}
@media (max-width:956px) and (min-width:320px){
.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
 }
 .divisao-contato > h1{
    text-align: center;
    font-size: 35px;
 }
 .divisao-contato > p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    width: 250px;
    height: auto;
 }
 .meus-dados > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    padding-top: 25px;
}
.fa-square-github, .fa-envelope, .fa-linkedin{
    font-size: 15px;
} 
}
@media (min-width:768px) and (max-width:1091px){
.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divisao-contato > h1{
    font-size: 40px;
    text-align: center;
}
.divisao-contato > p{
    font-size: 20px;
    text-align: center;
}
.meus-dados > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
}